In [1]:
import pandas as pd

In [6]:
df= pd.read_csv("Ice Cream Ratings.csv")

In [7]:
df

       Date  Flavor Rating  Texture Rating  Overall Rating
0  1/1/2022       0.223090        0.040220        0.600129
1  1/2/2022       0.635886        0.938476        0.106264
2  1/3/2022       0.442323        0.044154        0.598112
3  1/4/2022       0.389128        0.549676        0.489353
4  1/5/2022       0.386887        0.519439        0.988280
5  1/6/2022       0.877984        0.193588        0.832827
6  1/7/2022       0.140995        0.325110        0.105147

In [8]:
df.shape

(7, 4)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7 non-null      object
 1   Flavor Rating   7 non-null      float64
 2   Texture Rating  7 non-null      float64
 3   Overall Rating  7 non-null      float64
dtypes: float64(3), object(1)
memory usage: 268.0+ bytes

In [10]:
df.set_index('Date')

          Flavor Rating  Texture Rating  Overall Rating
Date
1/1/2022       0.223090        0.040220        0.600129
1/2/2022       0.635886        0.938476        0.106264
1/3/2022       0.442323        0.044154        0.598112
1/4/2022       0.389128        0.549676        0.489353
1/5/2022       0.386887        0.519439        0.988280
1/6/2022       0.877984        0.193588        0.832827
1/7/2022       0.140995        0.325110        0.105147